<p id="notice"><%= notice %></p>

  <div class="row pull-right margin-top">
    <form action='/search/meetings' method='GET'>
      <input type='text' name='search' placeholder="Meeting title or agenda"/>
      <input type='submit' value='Search' class="btn btn-primary" />
    </form>
  </div>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1><%= @company.name%> Meetings</h1>
    <div class='panel panel-default'>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class='well'>Title</th>
          <th>Room</th>
          <th class='well'>Agena</th>
          <th>Start Time</th>
          <th class = 'well'>End Time</th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td class='well'><%= link_to meeting.title, meeting %></td>
            <td><%= meeting.room.name %> </td>
             <td class='well' ><%= meeting.agenda %></td>
            <td><p class="timeDisplay"><%= meeting.start_time %></p></td>
            <td><p class="timeDisplay"><%= meeting.end_time %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <div class="center">
      <%= will_paginate @meetings, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="center margin-bottom">
      <%= link_to 'New Meeting', new_meeting_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
