<h2 class="center">Search Results for <i><%= params[:search] %></i></h2>
<!-- Shows all meetings where title like search params -->
<% if @meeting_title.count > 0 %>
<h3 class="center"><%= @meeting_title.count %> Topic(s) found.</h3>
  <section class='panel panel-default'>
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Agenda</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @meeting_title.each do |meeting| %>
        <tr>
          <td class="well"><%= meeting.title %></td>
          <td><%= meeting.agenda %></td>
          <td class="well"><%= meeting.start_time %></td>
          <td><%= meeting.end_time %></td>
          <td class="well"><%= link_to 'Show', meeting %></td>
          <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
          <td class="well"><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>
  <div class="center"><%= will_paginate @meeting_title,
                        renderer: BootstrapPagination::Rails %></div>
<% end %>
<!-- Shows all meetings where agenda like search results -->
<% if @meeting_agenda.count > 0 %>
<h3 class="center"><%= @meeting_agenda.count %> Agenda(s) found.</h3>
  <section class='panel panel-default'>
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Agenda</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @meeting_agenda.each do |meeting| %>
        <tr>
          <td class="well"><%= meeting.title %></td>
          <td><%= meeting.agenda %></td>
          <td class="well"><%= meeting.start_time %></td>
          <td><%= meeting.end_time %></td>
          <td class="well"><%= link_to 'Show', meeting %></td>
          <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
          <td class="well"><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>
  <div class="center"><%= will_paginate @meeting_agenda,
                        renderer: BootstrapPagination::Rails %></div>
<% end %>
  <div class="well center">
    <form action='/search/meetings' method='GET'>
      <input type='text' name='search'/>
      <input type='submit' value='Search' class="btn btn-primary" />
    </form>
  </div>
