<div class="container">
  <div class="row">
    <p id="notice" class="alert"><%= notice %></p>
    <p style='color:red;'><%= flash[:alert] %></p>

<div>
  <row>
    <div class="col-md-12">
      <h2><%= @meeting.title.capitalize %></h2>
    </div>
  </row>

    <div class="col-md-5">
      <h3>Meeting details</h3>
          <strong>Location:</strong> <p><%= link_to @meeting.room.name, @meeting.room %></p>
          <strong>Start time:</strong><p class="timeDisplay"> <%= @meeting.start_time %></p>
          <strong>End time:</strong><p class="timeDisplay"> <%= @meeting.end_time %></p>
          <strong>Max Occupancy:</strong><p> <%= @max_occupancy %></p>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <h3>Agenda</h3>
      <div>
        <p><%= @meeting.agenda %></p>
      </div>
    </div>

  <row>
    <div class="col-md-6 col-md-offset-1">
      <h3>Attendees (<%=@attendees.count%>) </h3>
      <ul>
        <% @attendees.each do |attendee| %>
            <li><%= link_to attendee.name, attendee %></li>
        <% end %>

      </ul>
    </div>
  </row>

  </div>
  </div>

  <div class="row">
    <div class="col-md-6 meeting-buttons">
      <%= link_to 'Join', join_employee_path(@meeting.id), method: 'POST', class: 'btn btn-default' %>
      <%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-default" %>
      <%= link_to 'Back', meetings_path, class: "btn btn-default" %>
    </div>
  </div>

  <% if @meeting_owner == true %>
  <div class="row">
    <br>
    <br>
    <h2>Invite Employees</h2>
    <% if @invitees.count > 0 %>
        <table class="table" style="width:50%">
          <thead>
          <tr>
            <th>Invite?</th>
            <th>Employee</th>
          </tr>
          </thead>
          <tbody>
            <% @invitees.each do |invitee|%>
            <tr>
              <td>
                <% if invitee.invitations.where(meeting_id: @meeting.id).exists? %>
                    <br><p style="font-style: italic">Already invited!</p>
                <% else %>
                    <%= link_to 'Invite', invitation_path(@meeting.id, invitee.id), method: 'POST', class: 'btn btn-default' %>
                <% end %>
              </td>
              <td>
                <h5><strong><%= invitee.name %></strong></h5>
                <p><strong>Company: </strong><%= link_to invitee.company.name, invitee.company %> </p>
                <p><strong>Email: </strong><%= invitee.email %></p>
              </td>
            </tr>
            <%end %>
          </tbody>
        </table>
    <% else %>
        <p>There is no-one to invite.</p>
    <% end %>
  </div>
  <% end %>
</div>

