 <div class="container">
  <h2 class="center">Search Results for
  <i class="search-results"><%= params[:search] %></i> in <%= current_employee.company.name %>
  </h2>
  <% if @employee_results.count > 0 %>
      <section class='panel panel-default'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @employee_results.each do |employee| %>
              <tr>
                <td class="well"><%= link_to employee.name, employee %></td>
                <td><%= employee.email %></td>
                <td class="well"><%= link_to 'Show', employee %></td>
                <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
                <td class="well"><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </section>

    <div class="center"><%= will_paginate @employee_results, renderer: BootstrapPagination::Rails %></div>

    <% else %>
      <p>No results found for your search.</p>
    <% end %>

    <div class="well center">
      <form action='/search/employees' method='GET'>
        <input type='text' name='search'/>
        <input type='submit' value='Search' class="btn btn-primary" />
      </form>
    </div>
  </div>
