<div class="container">
  <div class="row">
      <div class='col-md-6'>
        <h2><%=@employee.name %></h2>
        <span><strong>Email: </strong><%= @employee.email %></span>
      </div>
      <div class='col-md-6'>
        <h4 class='margin-20'>Next Meeting</h4>
          <% if @next_meeting %>
            <p><%= link_to @next_meeting.title, meeting_path(@next_meeting.id) %></p>
            <strong><p class='countDown' data-id=<%= @next_meeting.start_time %>></p></strong>
          <% end %>
      </div>
  </div>
    <div class="row">
      <div class="employee-details col-md-6">
        <h4>Meeting participation <span class="badge"><%= @employee.confirmed_meetings.count + @employee.viewable_meetings.count %></span></h4>
        <ul>
          <% @employee.confirmed_meetings.each do |meeting| %>
            <li><%= link_to meeting.title, meeting %></li>
          <% end %>
          <% @employee.viewable_meetings.each do |meeting| %>
            <li><%= link_to meeting.title, meeting %></li>
          <% end %>
        </ul>
      </div>
      <div class="employee-details col-md-6">
        <h4>Meetings you Created <span class="badge"><%= @employee.meetings.count %></span></h4>
        <ul>
          <% @employee.meetings.each do |meeting| %>
            <li><%= link_to meeting.title, meeting %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-2 col-md-offset-2"
    <% if current_employee.id == @employee.id %>
      <%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-success" %>
    <% else %>
      <p><%= link_to 'Back', employees_path, class: 'btn btn-default' %></p>
    <% end %>
  </div>
</div>
