<div class="container">
  <h2><%=@employee.company.name%> Employee</h2>

  <div class="row">
    <div class="employee-details">
      <h3><%= @employee.name %></h3>
        <h4>Employee details</h4>
        <p><strong>Email: </strong><%= @employee.email %></p>
    </div>
    <div class="employee-details">
      <h4>Meeting participation</h4>
      <ul>
        <% @employee.meetings.each do |meeting| %>

          <li><%= link_to meeting.title, meeting %></li>

        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <% if current_employee.id == @employee.id %>
      <%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-success" %>
    <% else %>
      <p><%= link_to 'Back', employees_path, class: 'btn btn-default' %></p>
    <% end %>
  </div>
</div>
