<p>Hello <%=@employee.name%>,</p>

<p>This email is to inform you that the <strong><%= @meeting.title %></strong> meeting has changed. The meeting details are now as follows:
  <ul>
    <li>Title: <%= @meeting.title %> </li>
    <li>Room: <%= @meeting.room.name %> (<%= @meeting.room.room_number %>) </li>
    <li>Location: <%= @meeting.room.location %> </li>
    <li>Start Time: <%= @meeting.start_time.strftime("%B %-d, %Y at %-I:%M%P") %> </li>
    <li>End Time: <%= @meeting.end_time.strftime("%B %-d, %Y at %-I:%M%P") %> </li>
  </ul>
</p>
<p>Please be sure to arrive on time. Thank you.</p>

<p>Sincerely,</p>
<p><%= @meeting.employee.company.name %> Management</p>
