 <ul class="nav nav-tabs">
    <li role="presentation" class=<%= toggle_off_or_to('active',dashboard_path) %>><%= link_to 'Admin Dashboard', dashboard_path %></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', new_room_path) %>><a href="/rooms/new">Create a Room</a></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', admin_reports_meetings_path) %>><a href="/admin/reports_meetings">Meetings Report</a></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', admin_reports_rooms_path) %>><a href="/admin/reports_rooms">Rooms Report</a></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', admin_busiest_employees_path) %>><a href="/admin/busiest_employees">Employee Report</a></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', admin_add_branding_path) %>><a href="/admin/add_branding">Branding</a></li>
    <li role="presentation" class=<%= toggle_off_or_to('active', admin_invitations_show_path) %>><a href="/admin/invitations/show">Meeting invites</a></li>
  </ul>
