<div class="container">
  <div class="row">
    <div class='col-md-12 comp-name-dash'>
    <p><strong><h1><%= @company.name.capitalize %></h1></strong></p>
    </div>
  </div>
  <div class="row">
    <div class='col-md-4 col-md-offset-1 panel panel-default dash-panels'>
      <div class="panel-heading"><h3 class='panel-title'>Total Employees</h3></div>
      <div class='panel-body dash-field'><%= @total_employees %></div>
    </div>
    <div class='col-md-4 col-md-offset-1 panel panel-default dash-panels'>
      <div class="panel-heading"><h3 class='panel-title'>Total Rooms</h3></div>
      <div class='panel-body dash-field'><%= @total_rooms %></div>
    </div>
  </div>
  <div class='row'>
  <div class='col-md-4 col-md-offset-1 panel panel-default dash-panels'>
      <div class="panel-heading"><h3 class='panel-title'>Total Meetings Today</h3></div>
      <div class='panel-body dash-field'><%= @today_meetings.count %></div>
    </div>
    <div class='col-md-4 col-md-offset-1 panel panel-default dash-panels'>
      <div class="panel-heading"><h3 class='panel-title'>All Scheduled Meetings</h3></div>
      <div class='panel-body dash-field'><%= @all_future_meetings.count %></div>
    </div>
    <div class="row ">
      <div class='col-md-4 col-md-offset-4'>
         <div class="room">
            <%= link_to 'Room Report PDF', 'room_report', class: "btn btn-info" %>
            <%= link_to 'Meeting Report PDF', 'meeting_report', class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
