<div class="report-inner">
  <h1>ROOMS</h1>
    <table class="report-container">
      <table id="rooms">
        <thead>
          <tr>
            <th>NAME</th>
            <th>MAX OCC</th>
            <th>ROOM NUMBER</th>
            <th>IMAGE</th>
            <th>LOCATION</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% @reports_rooms.each do |report_room| %>
            <td><%= report_room.name %></td>
            <td><%= report_room.max_occupancy %></td>
            <td><%= report_room.room_number %></td>
            <td><%= report_room.imgurl %></td>
            <td><%= report_room.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </table>
</div>

