
<div class="report-inner">
  <h1>MEETINGS</h1>
      <table id="meetings" class="table display">
        <thead>
          <tr>
            <th>TITLE</th>
            <th>AGENDA</th>
            <th>STARTS</th>
            <th>FINISHES</th>
            <th>VISIBILITY</th>
            <th>ROOM</th>
            <th>HOST</th>
          </tr>
        </thead>

        <tbody>
          <% @reports_meetings.each do |reports_meeting| %>
            <tr>
            <td><%= reports_meeting.title %></td>
            <td><%= reports_meeting.agenda %></td>
            <td><%= reports_meeting.start_time.strftime("%m/%d/%Y %l:%M %p") %></td>
            <td><%= reports_meeting.end_time.strftime("%m/%d/%Y %l:%M %p") %></td>
            <td><%= reports_meeting.private %></td>
            <td><%= reports_meeting.room.room_number %></td>
            <td><%= reports_meeting.employee.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
