<p id='notice'><%= notice %></p>

  <div class='row pull-right margin-top'>
    <form action='/search/rooms' method='GET'>
      <input type='text' name='search'/>
      <input type='submit' value='Search' class='btn btn-primary' />
    </form>
  </div>
<div class='container'>
  <div class='row'>
    <p id='notice'><%= notice %></p>

    <h1>All Rooms</h1>
    <div class='panel panel-default'>

    <table class='table table-hover'>
      <thead>
        <tr>
          <th class='well'>Name</th>
          <th>Location</th>
          <th class='well'>Company</th>
          <th>Hours Until Next Meeting</th>
          <th class='well'>Available</th>
          <th colspan='3'></th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td class='well'><%= link_to room.name, room %></td>`
            <td><%= room.location %></td>
            <td class='well'><%= room.company.name %></td>
            <td><%= room.hours_until_next_meeting %></td>
            <td class='well'><%= room.available ? 'yes' : 'no' %></td>
            <td><%= link_to 'Show', room %></td>
            <td class='well'><%= link_to 'Edit', edit_room_path(room) %></td>
            <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <div class='center'>
      <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
    </div>
    <div class='center margin-bottom'>
      <%= link_to 'New Room', new_room_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>

