<p id='notice'><%= notice %></p>

  <div class='row pull-right margin-top'>
    <form action='/search/rooms' method='GET'>
      <input type='text' name='search'/>
      <input type='submit' value='Search' class='btn btn-primary' />
    </form>
  </div>
<div class='container'>
  <div class='row'>
    <p id='notice'><%= notice %></p>

<h1>Search Results</h1>
<!-- Shows all rooms where name like search params -->
<% if @room_results.count > 0 %>
<h3><%= @room_results.count %> Room(s) found.</h3>
  <section class='panel panel-default'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Room Number</th>
        <th>Location</th>
        <th>Amenities</th>
        <th>Company</th>
        <th>Max Occupancy</th>
        <th>Hours Until Next Meeting</th>
        <th>Available</th>
        <th colspan='3'></th>
      </tr>
    </thead>
    <tbody>
      <% @room_results.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td class='well'><%= room.room_number %></td>
          <td><%= room.location %></td>
          <td class="well"><%= room.amenities[0].perk %></td>>
          <td><%= room.company.name %></td>
          <td class='well'><%= room.max_occupancy %></td>
          <td><%= room.hours_until_next_meeting >= 0 ? room.hours_until_next_meeting : "N/A" %></td>
          <td class='well'><%= room.available ? "yes" : "no" %></td>
          <td><%= link_to 'Show', room  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>
  <div class='center'>
    <%= will_paginate @room_results, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>
<div class="container">
  <div class="col-md-9"></div>
  <div class='col-md-3 well center room-search'>
    <form action='/search_advance/rooms' method='GET'>
      <div class='row'>
        <div class='col-md-4 align-right'>
          name
        </div>
        <div class='col-md-8 align-left'>
          <input type='text' size= '12' name='name'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 align-right'>
          company
        </div>
        <div class='col-md-8 align-left'>
          <input type='text' size= '12' name='company_name'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 align-right'>
          location
        </div>
        <div class='col-md-8 align-left'>
          <input type='text' size= '12' name='location'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 align-right'>
          number
        </div>
        <div class='col-md-8 align-left'>
          <input type='text' size= '3' name='room_number'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 align-right'>
          max occ >
        </div>
        <div class='col-md-8 align-left'>
          <input type='text' size= '3' name='max_occupancy'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4 align-right'>
          available?
        </div>
        <div class='col-md-8 align-left'>
          <input type='checkbox' checked = 'checked' name='available' value='true' />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-8 align-left'>
          <input type='submit' value='Search' class='btn btn-primary' />
      </div>
    </form>
  </div>
</div>
