<h2 class="center">Search Results for <i><%= params[:search] %></i></h2>
<% if @room_results.count > 0 %>
<h3 class="center"><%= @room_results.count %> Room(s) found.</h3>
  <section class='panel panel-default'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Max Occupancy</th>
        <th>Room Number</th>
        <th>Image</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @room_results.each do |room| %>
        <tr>
          <td class="well"><%= room.name %></td>
          <td><%= room.max_occupancy %></td>
          <td class="well"><%= room.room_number %></td>
          <td><%= room.imgurl %></td>
          <td class="well"><%= room.location %></td>
          <td><%= link_to 'Show', room  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>
  <div class="center"><%= will_paginate @room_results,
                        renderer: BootstrapPagination::Rails %></div>
<% end %>
  <div class="well center">
    <form action='/search/rooms' method='GET'>
      <input type='text' name='search'/>
      <input type='submit' value='Search' class="btn btn-primary" />
    </form>
  </div>
