<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Max occupancy:</strong>
  <%= @room.max_occupancy %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @room.imgurl %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
