<!-- The room show page should display all the current and past meetings for that room.
It should show the title, and the photo for each room.
 -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <h2><%= @room.name %></h2>
    <p>  <%= @room.imgurl %></p>
    <div class="col-md-6">
      <h3>Meetings</h3>
      <% @room.meetings.each do |meeting| %>
      <ul>
        <li><%= link_to, meeting.name meeting %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Details</h3>
      <p><strong>Room Number:</strong> <%=@room.room_number %></p>
      <p><strong>Max Occupancy: </strong> <%= @room.max_occupancy %></p>
      <p><strong>Location:</strong><%= @room.location %></p>
    </div>
  </div>

  <div class="row admin">
    <button class="btn btn-primary">Edit meeting</button>
    <button class="btn btn-danger">Delete meeting</button>
  </div>
</div>


<p>
  <strong>Imgurl:</strong>
  <%= @room.imgurl %>
</p>

<p>

</p>
