<!-- The room show page should display all the current and past meetings for that room.
It should show the title, and the photo for each room. -->


<div class="container">
  <div class="row">
    <h2>The <%= @room.name %> Room</h2>
    <div class="room-image">
      <%=image_tag(@room.imgurl) %>
    </div>
    <div class="col-md-6">
      <h3>Meetings</h3>
      <% @room.meetings.each do |meeting|%>
        <div class="col-md-6">
        <ul>
        <li><%= link_to meeting.title, meeting %>
        </div>
        <div class="col-md-6">
          <%= meeting.start_time.strftime('%m/%d %I:%M%p') %> to <%= meeting.end_time.strftime('%m/%d %I:%M%p') %></li>
          <!--  <%= meeting.start_time.strftime('%m/%d %I:%M%p') %> to <%= meeting.end_time.strftime('%m/%d %I:%M%p')  %></li> -->
        </div>
      </ul>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>Details</h3>
      <p><strong>Location: </strong> <%=@room.location%></p>
      <p><strong>Occupancy: </strong><%= @room.max_occupancy %></p>
      <p><strong>Room Number: </strong><%= @room.room_number%></p>
</div>
  </div>

  <!-- <div class="row admin">
    <button class="btn btn-primary">Edit meeting</button>
    <button class="btn btn-danger">Delete meeting</button>
  </div>
  <%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> -->
</div>
